{% extends 'base.html' %}

{% block title %} Edit post {% endblock title %}

{% block sub_content %}
<div class="container">
    <div class="text-center">
        <h1>Edit post</h1>
    </div>
    <form method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post_form['title'] }}">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea type="text" class="form-control ckeditor" id="body" name="body">{{ post_form['body'] }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
{% endblock sub_content %}